In [47]:
import pandas as pd
import numpy as np

In [73]:
x1=pd.ExcelFile('Data_Train.xlsx')
print(x1)
df1=x1.parse()
df1

<pandas.io.excel.ExcelFile object at 0x000001EB6F609DA0>

                                                  STORY  SECTION
0     But the most painful was the huge reversal in ...        3
1     How formidable is the opposition alliance amon...        0
2     Most Asian currencies were trading lower today...        3
3     If you want to answer any question, click on ‘...        1
4     In global markets, gold prices edged up today ...        3
5     BEIJING: Chinese tech giant Huawei has announc...        1
6     Mumbai: India Inc's external commercial borrow...        3
7     On Wednesday, Federal Reserve Chairman Jerome ...        3
8     What more can you give to the audience? I have...        2
9     com, Arbaaz Khan spoke about getting back to D...        2
10    “One would think that their development and te...        1
11    So far this year, the rupee has gained 0.7%, w...        3
12    Xiaomi, however, sees the presence of Jio in r...        1
13    The ad reads "No bells & whistles. No Bezel. N...        1
14    On Tuesday, Powell said a healthy US economy h...        3
15    This feature will help make the display more r...        1
16    TikTok, which is very popular among children, ...        1
17    The company will hive off its ratings business...        3
18    He chooses to hide his CP from colleagues, mov...        2
19    That’s right, an opera house. It simply goes t...        1
20    Facebook said eligible creators would be able ...        1
21    Starring Varun Dhawan, Alia Bhatt, Sonakshi Si...        2
22    GKN Securities which was barred over misuse of...        3
23    Fintech startup Zeta, co-founded by Bhavin Tur...        1
24    This story has been published from a wire agen...        0
25    Globally established companies such as Stratas...        1
26    The statements in which Yeddyurappa says that ...        0
27    As NDA seeks re-election, agriculture will for...        0
28    Yeddyurappa said the IAF air strikes would ben...        0
29    ”With two releases this year so far, Milan Tal...        2
...                                                 ...      ...
7598  “TDP as a party and ideology have gotten sidel...        0
7599  But so far, whenever we’ve reviewed Kindles, t...        1
7600  During the day, the markets saw high volatilit...        3
7601  Today, Gmail allows 15GB free storage. Users c...        1
7602  Aparajita Sarangi took voluntary retirement wh...        0
7603  Investors are awaiting economic growth data an...        3
7604  With advice from online survivalists, she move...        2
7605  All this time, the developers have been disgui...        1
7606  Lok Sabha elections 2019: Fifth phase of votin...        0
7607  The watchdog passed five separate orders, toge...        3
7608  In a Twitter post last week, OnePlus confirmed...        1
7609  An iOS-only email client named 'Spark' will be...        1
7610  That said, the question really is why you shou...        1
7611  And I didn’t want to do that kind of movie bec...        2
7612  His 1999 film All About My Mother received Bes...        2
7613  While Mohan Babu is not considered to be a pol...        0
7614  The S&P 500 opened higher by 1.26 points, or 0...        3
7615  However, some reports suggest that there would...        1
7616  Mumbai: Indian stocks rose, with key indices e...        3
7617  Sure, the others are slightly faster, have sli...        1
7618  With up to 14.7 million pixels, one billion co...        1
7619  A BJD supporter in Puri. Congress leaders as w...        0
7620  Bollywood celebrities took to social media to ...        2
7621  However, as of now, there is no confirmation a...        1
7622  In terms of optics, the back of the Redmi Note...        1
7623  Karnataka has been a Congress bastion, but it ...        0
7624  The film, which also features Janhvi Kapoor, w...        2
7625  The database has been created after bringing t...        1
7626  The state, which has had an uneasy relationshi...        0
7627  Virus stars Kunchacko Boban, Tovino Thomas, In...        2

[7628 rows x 2 columns]

In [51]:
x2=pd.ExcelFile('Data_Test.xlsx')
print(x1)
df2=x2.parse()
df2.head()

<pandas.io.excel.ExcelFile object at 0x000001EB6F9FA9E8>

                                               STORY
0  2019 will see gadgets like gaming smartphones ...
1  It has also unleashed a wave of changes in the...
2  It can be confusing to pick the right smartpho...
3  The mobile application is integrated with a da...
4  We have rounded up some of the gadgets that sh...

In [75]:
Story=pd.concat([df1,df2])
Story

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

  """Entry point for launching an IPython kernel.

      SECTION                                              STORY
0         3.0  But the most painful was the huge reversal in ...
1         0.0  How formidable is the opposition alliance amon...
2         3.0  Most Asian currencies were trading lower today...
3         1.0  If you want to answer any question, click on ‘...
4         3.0  In global markets, gold prices edged up today ...
5         1.0  BEIJING: Chinese tech giant Huawei has announc...
6         3.0  Mumbai: India Inc's external commercial borrow...
7         3.0  On Wednesday, Federal Reserve Chairman Jerome ...
8         2.0  What more can you give to the audience? I have...
9         2.0  com, Arbaaz Khan spoke about getting back to D...
10        1.0  “One would think that their development and te...
11        3.0  So far this year, the rupee has gained 0.7%, w...
12        1.0  Xiaomi, however, sees the presence of Jio in r...
13        1.0  The ad reads "No bells & whistles. No Bezel. N...
14        3.0  On Tuesday, Powell said a healthy US economy h...
15        1.0  This feature will help make the display more r...
16        1.0  TikTok, which is very popular among children, ...
17        3.0  The company will hive off its ratings business...
18        2.0  He chooses to hide his CP from colleagues, mov...
19        1.0  That’s right, an opera house. It simply goes t...
20        1.0  Facebook said eligible creators would be able ...
21        2.0  Starring Varun Dhawan, Alia Bhatt, Sonakshi Si...
22        3.0  GKN Securities which was barred over misuse of...
23        1.0  Fintech startup Zeta, co-founded by Bhavin Tur...
24        0.0  This story has been published from a wire agen...
25        1.0  Globally established companies such as Stratas...
26        0.0  The statements in which Yeddyurappa says that ...
27        0.0  As NDA seeks re-election, agriculture will for...
28        0.0  Yeddyurappa said the IAF air strikes would ben...
29        2.0  ”With two releases this year so far, Milan Tal...
...       ...                                                ...
2718      NaN  The party renominated its sitting MP Ranjet Ra...
2719      NaN  Was there a moment you were bullied?I was very...
2720      NaN  In Delhi, gold of 99.9% and 99.5% purities fel...
2721      NaN  Snapchat's controversial and criticised redesi...
2722      NaN  Of the eight states that faced single-phase po...
2723      NaN  Facebook pulled 513 Pages, Groups and accounts...
2724      NaN  One of the most popular female actors in the 1...
2725      NaN  Two Telugu TV actresses died in a road acciden...
2726      NaN  Google CEO Sundar Pichai introduced Duplex ear...
2727      NaN  ”Priyanka was replaced by Katrina Kaif, who wo...
2728      NaN  The Chinese smartphone manufacturer today intr...
2729      NaN  Samsung, the world’s largest smartphone maker,...
2730      NaN  Reliance Securities has revised TCS target pri...
2731      NaN  Music streaming may not be novel, but it’s sti...
2732      NaN  Ericsson India Pvt. Ltd had moved the Supreme ...
2733      NaN  On the other hand, the hotel and airline loyal...
2734      NaN  The Narendra Modi government simply finished t...
2735      NaN  The yield on 10-year Treasuries climbed two ba...
2736      NaN  Section 126 of the Representation of People Ac...
2737      NaN  With these techniques, machines are also learn...
2738      NaN  The traffic challan payment is also restricted...
2739      NaN  “We are not like Western countries, where peop...
2740      NaN  Further, SBICAP Securities says delivery of th...
2741      NaN  Two, Raj Thackeray’s Maharashtra Navnirman Sen...
2742      NaN  Senior leaders of the BJP are using the sugges...
2743      NaN  According to researchers, fraud in the mobile ...
2744      NaN  The iPhone XS and XS Max share the Apple A12 c...
2745      NaN  On the photography front, the Note 5 Pro featu...
2746      NaN  UDAY mandated that discoms bring the gap betwe...
2747      NaN  Ripple also helps bank customers send money to...

[10376 rows x 2 columns]

In [52]:
stopwords= set(['br', 'the', 'i', 'me', 'my', 'myself', 'we', 'our', 'ours', 'ourselves', 'you', "you're", "you've",\
            "you'll", "you'd", 'your', 'yours', 'yourself', 'yourselves', 'he', 'him', 'his', 'himself', \
            'she', "she's", 'her', 'hers', 'herself', 'it', "it's", 'its', 'itself', 'they', 'them', 'their',\
            'theirs', 'themselves', 'what', 'which', 'who', 'whom', 'this', 'that', "that'll", 'these', 'those', \
            'am', 'is', 'are', 'was', 'were', 'be', 'been', 'being', 'have', 'has', 'had', 'having', 'do', 'does', \
            'did', 'doing', 'a', 'an', 'the', 'and', 'but', 'if', 'or', 'because', 'as', 'until', 'while', 'of', \
            'at', 'by', 'for', 'with', 'about', 'against', 'between', 'into', 'through', 'during', 'before', 'after',\
            'above', 'below', 'to', 'from', 'up', 'down', 'in', 'out', 'on', 'off', 'over', 'under', 'again', 'further',\
            'then', 'once', 'here', 'there', 'when', 'where', 'why', 'how', 'all', 'any', 'both', 'each', 'few', 'more',\
            'most', 'other', 'some', 'such', 'only', 'own', 'same', 'so', 'than', 'too', 'very', \
            's', 't', 'can', 'will', 'just', 'don', "don't", 'should', "should've", 'now', 'd', 'll', 'm', 'o', 're', \
            've', 'y', 'ain', 'aren', "aren't", 'couldn', "couldn't", 'didn', "didn't", 'doesn', "doesn't", 'hadn',\
            "hadn't", 'hasn', "hasn't", 'haven', "haven't", 'isn', "isn't", 'ma', 'mightn', "mightn't", 'mustn',\
            "mustn't", 'needn', "needn't", 'shan', "shan't", 'shouldn', "shouldn't", 'wasn', "wasn't", 'weren', "weren't", \
            'won', "won't", 'wouldn', "wouldn't"])

In [53]:
from bs4 import BeautifulSoup

In [54]:
import re

def decontracted(phrase):
    # specific
    phrase = re.sub(r"won't", "will not", phrase)
    phrase = re.sub(r"can\'t", "can not", phrase)

    # general
    phrase = re.sub(r"n\'t", " not", phrase)
    phrase = re.sub(r"\'re", " are", phrase)
    phrase = re.sub(r"\'s", " is", phrase)
    phrase = re.sub(r"\'d", " would", phrase)
    phrase = re.sub(r"\'ll", " will", phrase)
    phrase = re.sub(r"\'t", " not", phrase)
    phrase = re.sub(r"\'ve", " have", phrase)
    phrase = re.sub(r"\'m", " am", phrase)
    return phrase

In [77]:
from tqdm import tqdm
p_stories = []
# tqdm is for printing the status bar
for sentance in tqdm(Story['STORY'].values):
    sentance = re.sub(r"http\S+", "", sentance)
    sentance = BeautifulSoup(sentance, 'lxml').get_text()
    sentance = decontracted(sentance)
    sentance = re.sub("\S*\d\S*", "", sentance).strip()
    sentance = re.sub('[^A-Za-z]+', ' ', sentance)
    # https://gist.github.com/sebleier/554280
    sentance = ' '.join(e.lower() for e in sentance.split() if e.lower() not in stopwords)
    p_stories.append(sentance.strip())

100%|███████████████████████████████████████████████████████████████████████████| 10376/10376 [00:10<00:00, 943.88it/s]

In [78]:
len(p_stories)

10376

In [79]:
from sklearn.feature_extraction.text import TfidfVectorizer

tf_idf_vect = TfidfVectorizer(ngram_range=(1,2), min_df=10)

tf_idf_vect.fit(p_stories)
print("some sample features(unique words in the corpus)",tf_idf_vect.get_feature_names()[0:10])
print('='*50)

final_tf_idf = tf_idf_vect.transform(p_stories)
print("the type of count vectorizer ",type(final_tf_idf))
print("the shape of out text TFIDF vectorizer ",final_tf_idf.get_shape())
print("the number of unique words including both unigrams and bigrams ", final_tf_idf.get_shape()[1])

some sample features(unique words in the corpus) ['aaa', 'aadhaar', 'aadmi', 'aadmi party', 'aam', 'aam aadmi', 'aamir', 'aamir khan', 'aap', 'aay']
==================================================
the type of count vectorizer  <class 'scipy.sparse.csr.csr_matrix'>
the shape of out text TFIDF vectorizer  (10376, 10402)
the number of unique words including both unigrams and bigrams  10402

In [82]:
X_train=final_tf_idf[:7628]
y_train=df1.SECTION

In [83]:
X_train.shape

(7628, 10402)

In [84]:
y_train.shape

(7628,)

In [85]:
X_test=final_tf_idf[7628:]
X_test.shape

(2748, 10402)

In [167]:
from sklearn import svm
clf=svm.SVC(gamma=0.1,C=40)
clf.fit(X_train,y_train)

SVC(C=40, cache_size=200, class_weight=None, coef0=0.0,
  decision_function_shape='ovr', degree=3, gamma=0.1, kernel='rbf',
  max_iter=-1, probability=False, random_state=None, shrinking=True,
  tol=0.001, verbose=False)

In [168]:
pred=clf.predict(X_test)

In [152]:
pred

array([1, 2, 1, ..., 1, 0, 1], dtype=int64)

In [169]:
xp=[]
for i in range (len(pred)):
    xp.append(pred[i])

In [170]:
xp

[1,
 2,
 1,
 0,
 1,
 1,
 1,
 2,
 2,
 2,
 0,
 3,
 2,
 1,
 2,
 1,
 3,
 2,
 3,
 2,
 2,
 2,
 2,
 0,
 0,
 2,
 2,
 3,
 3,
 0,
 1,
 3,
 2,
 0,
 2,
 2,
 2,
 2,
 0,
 1,
 0,
 1,
 3,
 2,
 2,
 2,
 1,
 1,
 0,
 1,
 3,
 2,
 1,
 2,
 2,
 0,
 1,
 1,
 0,
 1,
 1,
 2,
 3,
 2,
 1,
 1,
 2,
 0,
 0,
 1,
 2,
 1,
 1,
 0,
 0,
 1,
 1,
 1,
 2,
 2,
 3,
 0,
 3,
 0,
 2,
 2,
 2,
 2,
 1,
 1,
 1,
 2,
 1,
 1,
 1,
 1,
 0,
 2,
 2,
 2,
 1,
 0,
 1,
 3,
 1,
 1,
 2,
 0,
 2,
 3,
 1,
 1,
 2,
 2,
 1,
 2,
 3,
 3,
 2,
 1,
 1,
 3,
 0,
 2,
 0,
 3,
 3,
 3,
 2,
 1,
 1,
 2,
 1,
 0,
 3,
 1,
 1,
 1,
 1,
 2,
 1,
 0,
 2,
 1,
 2,
 1,
 2,
 2,
 2,
 1,
 2,
 1,
 1,
 1,
 2,
 1,
 1,
 1,
 1,
 2,
 2,
 1,
 0,
 0,
 1,
 2,
 0,
 1,
 1,
 2,
 2,
 2,
 2,
 1,
 1,
 1,
 2,
 1,
 2,
 2,
 1,
 3,
 1,
 2,
 2,
 1,
 3,
 1,
 1,
 2,
 2,
 1,
 2,
 1,
 1,
 1,
 2,
 1,
 3,
 1,
 2,
 1,
 1,
 1,
 2,
 1,
 1,
 1,
 3,
 2,
 0,
 2,
 2,
 3,
 1,
 1,
 2,
 1,
 1,
 2,
 0,
 1,
 0,
 1,
 1,
 1,
 1,
 1,
 1,
 0,
 0,
 1,
 1,
 3,
 1,
 2,
 2,
 0,
 2,
 1,
 2,
 2,
 1,
 2,
 1,
 2,
 2,
 1,
 1,
 3,
 1,
 1,
 2,
 2,
 1,
 1,
 3,
 0,
 1,
 2,
 2,
 2,
 0,
 2,
 2,
 0,
 1,
 1,
 2,
 1,
 0,
 2,
 1,
 1,
 2,
 1,
 3,
 1,
 1,
 1,
 1,
 1,
 2,
 1,
 1,
 0,
 3,
 1,
 2,
 2,
 0,
 1,
 2,
 2,
 1,
 1,
 1,
 1,
 2,
 1,
 1,
 2,
 1,
 2,
 1,
 2,
 1,
 1,
 2,
 0,
 1,
 0,
 1,
 1,
 0,
 2,
 3,
 1,
 3,
 1,
 1,
 2,
 1,
 3,
 0,
 2,
 0,
 2,
 1,
 2,
 1,
 2,
 3,
 1,
 0,
 0,
 2,
 0,
 1,
 2,
 1,
 1,
 0,
 3,
 1,
 2,
 2,
 3,
 2,
 1,
 2,
 1,
 1,
 1,
 2,
 2,
 1,
 1,
 3,
 2,
 0,
 3,
 1,
 1,
 2,
 2,
 3,
 2,
 1,
 1,
 1,
 1,
 2,
 1,
 0,
 0,
 2,
 2,
 1,
 1,
 2,
 1,
 1,
 2,
 2,
 2,
 2,
 0,
 1,
 1,
 1,
 2,
 0,
 3,
 3,
 0,
 1,
 1,
 2,
 3,
 2,
 1,
 1,
 2,
 1,
 2,
 2,
 2,
 2,
 1,
 1,
 3,
 2,
 3,
 3,
 2,
 1,
 2,
 1,
 1,
 0,
 1,
 0,
 3,
 0,
 2,
 1,
 1,
 3,
 1,
 0,
 1,
 1,
 1,
 0,
 1,
 0,
 2,
 2,
 2,
 2,
 2,
 1,
 1,
 1,
 1,
 1,
 3,
 0,
 0,
 2,
 2,
 2,
 1,
 1,
 2,
 2,
 1,
 2,
 0,
 2,
 1,
 1,
 1,
 2,
 2,
 1,
 1,
 3,
 3,
 1,
 3,
 1,
 2,
 0,
 1,
 3,
 0,
 1,
 1,
 1,
 3,
 0,
 0,
 3,
 1,
 1,
 1,
 1,
 1,
 1,
 0,
 2,
 2,
 1,
 0,
 1,
 1,
 3,
 3,
 1,
 1,
 3,
 2,
 1,
 1,
 2,
 3,
 1,
 0,
 2,
 1,
 0,
 2,
 1,
 1,
 3,
 0,
 2,
 1,
 1,
 1,
 1,
 2,
 1,
 2,
 1,
 1,
 2,
 1,
 2,
 1,
 2,
 2,
 0,
 1,
 1,
 3,
 1,
 1,
 1,
 2,
 2,
 3,
 2,
 2,
 1,
 1,
 2,
 2,
 1,
 1,
 1,
 1,
 2,
 0,
 3,
 1,
 1,
 1,
 1,
 1,
 3,
 1,
 1,
 1,
 1,
 1,
 2,
 1,
 1,
 3,
 0,
 1,
 1,
 2,
 2,
 0,
 1,
 3,
 1,
 2,
 1,
 2,
 2,
 1,
 2,
 0,
 1,
 1,
 2,
 1,
 2,
 1,
 1,
 0,
 1,
 3,
 1,
 2,
 1,
 2,
 2,
 2,
 2,
 2,
 1,
 1,
 1,
 1,
 2,
 1,
 1,
 2,
 3,
 3,
 2,
 1,
 0,
 1,
 0,
 1,
 2,
 2,
 1,
 1,
 2,
 1,
 1,
 1,
 2,
 3,
 2,
 1,
 1,
 1,
 1,
 2,
 1,
 0,
 1,
 3,
 1,
 1,
 1,
 2,
 1,
 1,
 1,
 0,
 2,
 1,
 2,
 3,
 1,
 1,
 1,
 3,
 1,
 2,
 2,
 1,
 2,
 0,
 1,
 1,
 1,
 3,
 1,
 1,
 3,
 0,
 2,
 0,
 3,
 0,
 1,
 1,
 1,
 2,
 2,
 0,
 1,
 2,
 2,
 1,
 1,
 1,
 1,
 2,
 3,
 3,
 2,
 2,
 1,
 2,
 2,
 1,
 0,
 1,
 1,
 1,
 3,
 1,
 2,
 1,
 1,
 1,
 1,
 1,
 2,
 2,
 2,
 1,
 1,
 2,
 1,
 3,
 0,
 2,
 0,
 0,
 0,
 2,
 2,
 2,
 2,
 0,
 2,
 2,
 3,
 0,
 2,
 1,
 1,
 3,
 1,
 1,
 2,
 2,
 3,
 1,
 0,
 1,
 1,
 1,
 1,
 2,
 1,
 2,
 3,
 3,
 1,
 0,
 1,
 0,
 1,
 1,
 2,
 2,
 1,
 2,
 1,
 2,
 1,
 1,
 2,
 2,
 2,
 2,
 0,
 2,
 0,
 1,
 2,
 1,
 1,
 3,
 2,
 1,
 1,
 2,
 1,
 1,
 2,
 1,
 1,
 1,
 1,
 1,
 2,
 3,
 1,
 0,
 1,
 1,
 1,
 3,
 2,
 3,
 1,
 3,
 1,
 0,
 0,
 1,
 1,
 2,
 1,
 1,
 2,
 0,
 0,
 3,
 2,
 1,
 0,
 1,
 2,
 2,
 2,
 2,
 2,
 1,
 0,
 3,
 1,
 2,
 2,
 2,
 0,
 3,
 0,
 2,
 0,
 2,
 2,
 0,
 1,
 2,
 3,
 1,
 2,
 2,
 1,
 1,
 2,
 1,
 3,
 1,
 1,
 1,
 2,
 2,
 1,
 1,
 0,
 2,
 2,
 1,
 0,
 2,
 1,
 1,
 2,
 1,
 1,
 1,
 1,
 1,
 0,
 0,
 3,
 0,
 1,
 0,
 1,
 1,
 1,
 1,
 2,
 2,
 1,
 2,
 2,
 2,
 1,
 0,
 2,
 2,
 2,
 2,
 3,
 2,
 1,
 0,
 1,
 1,
 1,
 2,
 1,
 2,
 1,
 0,
 3,
 2,
 2,
 2,
 1,
 2,
 2,
 1,
 1,
 1,
 1,
 0,
 1,
 2,
 3,
 1,
 0,
 0,
 1,
 2,
 1,
 1,
 1,
 3,
 1,
 1,
 1,
 2,
 1,
 1,
 2,
 1,
 1,
 2,
 1,
 1,
 0,
 0,
 0,
 1,
 1,
 1,
 2,
 0,
 2,
 3,
 2,
 0,
 3,
 1,
 0,
 3,
 2,
 2,
 0,
 3,
 1,
 0,
 3,
 3,
 3,
 0,
 3,
 0,
 2,
 2,
 0,
 2,
 3,
 1,
 1,
 1,
 2,
 1,
 3,
 2,
 0,
 3,
 0,
 1,
 2,
 2,
 1,
 3,
 2,
 0,
 2,
 0,
 3,
 1,
 3,
 2,
 1,
 1,
 2,
 1,
 ...]

In [171]:
len(xp)

2748

In [172]:
df2.columns

Index(['STORY', 'SECTION'], dtype='object')

In [173]:
df2['SECTION']=pd.Series(xp,index=df2.index)

In [174]:
df2.head

<bound method NDFrame.head of                                                   STORY  SECTION
0     2019 will see gadgets like gaming smartphones ...        1
1     It has also unleashed a wave of changes in the...        2
2     It can be confusing to pick the right smartpho...        1
3     The mobile application is integrated with a da...        0
4     We have rounded up some of the gadgets that sh...        1
5     "Imagine if every message you sent was kept wi...        1
6     Positioned along the four sides of the Asus RO...        1
7     In fact, when I applied to USC film school the...        2
8     As spotted by Android Police, Netflix is testi...        2
9     Her moves were immaculately choreographed as s...        2
10    The NCP leadership was under tremendous pressu...        0
11    On the traded volume front, 48.67 lakh shares ...        3
12    They wrote, “Welcoming Makkal Selvan Vijay Set...        2
13    The back of the phone features a 12MP+13MP AI ...        1
14    Talking about how the pressure got to her at o...        2
15    The Xiaomi Play is expected to have a CPU runn...        1
16    In January 2019, the telecom industry added 21...        3
17    Apart from the finalists, the grand finale als...        2
18    "We expect (a) slew of REIT IPOs to hit the ma...        3
19    According to the same report, Avengers Endgame...        2
20    “Wounded by Lannister riders, they will seek r...        2
21    With so much hatred around, through the show, ...        2
22    The Force Awakens, incidentally, wind up as th...        2
23    The two have been taking potshots at each othe...        0
24    Thakur said “they (authorities) wanted to forc...        0
25    “It’s seriously delightful that our new Dracul...        2
26    (Photo: Diljit Dosanjh/Instagram)Diljit Dosanj...        2
27    Some respite came from the 6% growth in utilit...        3
28    The outlook for India's rupee has deteriorated...        3
29    However, political analysts said that it will ...        0
...                                                 ...      ...
2718  The party renominated its sitting MP Ranjet Ra...        0
2719  Was there a moment you were bullied?I was very...        2
2720  In Delhi, gold of 99.9% and 99.5% purities fel...        3
2721  Snapchat's controversial and criticised redesi...        1
2722  Of the eight states that faced single-phase po...        0
2723  Facebook pulled 513 Pages, Groups and accounts...        1
2724  One of the most popular female actors in the 1...        2
2725  Two Telugu TV actresses died in a road acciden...        2
2726  Google CEO Sundar Pichai introduced Duplex ear...        1
2727  ”Priyanka was replaced by Katrina Kaif, who wo...        2
2728  The Chinese smartphone manufacturer today intr...        1
2729  Samsung, the world’s largest smartphone maker,...        1
2730  Reliance Securities has revised TCS target pri...        3
2731  Music streaming may not be novel, but it’s sti...        1
2732  Ericsson India Pvt. Ltd had moved the Supreme ...        3
2733  On the other hand, the hotel and airline loyal...        1
2734  The Narendra Modi government simply finished t...        0
2735  The yield on 10-year Treasuries climbed two ba...        3
2736  Section 126 of the Representation of People Ac...        0
2737  With these techniques, machines are also learn...        1
2738  The traffic challan payment is also restricted...        1
2739  “We are not like Western countries, where peop...        1
2740  Further, SBICAP Securities says delivery of th...        3
2741  Two, Raj Thackeray’s Maharashtra Navnirman Sen...        0
2742  Senior leaders of the BJP are using the sugges...        0
2743  According to researchers, fraud in the mobile ...        1
2744  The iPhone XS and XS Max share the Apple A12 c...        1
2745  On the photography front, the Note 5 Pro featu...        1
2746  UDAY mandated that discoms bring the gap betwe...        0
2747  Ripple also helps bank customers send money to...        1

[2748 rows x 2 columns]>

In [178]:
df2.to_excel(r'Documents\final4.xlsx')

In [176]:
xl=pd.ExcelFile('final2.xlsx')
print(xl)
xl1=xl.parse()
xl1

<pandas.io.excel.ExcelFile object at 0x000001EB6F0CEE10>

      SECTION
0           1
1           2
2           1
3           1
4           1
5           1
6           1
7           2
8           2
9           2
10          0
11          3
12          2
13          1
14          2
15          1
16          3
17          2
18          3
19          2
20          2
21          2
22          2
23          0
24          0
25          2
26          2
27          3
28          3
29          0
...       ...
2718        0
2719        2
2720        3
2721        1
2722        0
2723        1
2724        2
2725        2
2726        1
2727        2
2728        1
2729        1
2730        3
2731        1
2732        3
2733        1
2734        0
2735        3
2736        0
2737        1
2738        1
2739        1
2740        3
2741        0
2742        0
2743        1
2744        1
2745        1
2746        0
2747        1

[2748 rows x 1 columns]

In [177]:
from sklearn.metrics import accuracy_score
acc_bow = accuracy_score(xl1.SECTION, pred) * 100
print('svm accuracy ',acc_bow)

svm accuracy  99.16302765647744

AttributeError: 'Series' object has no attribute 'to_array'

In [161]:
px=[]
for i in range(len(xp)):
    px.append(df2.SECTION[i]-xl1.SECTION[i])

In [162]:
px

[0,
 0,
 0,
 -1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 -1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 -2,
 0,
 0,
 0,
 0,
 0,
 0,
 2,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 2,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 2,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 ...]

In [1]:
df=pd.DataFrame(px,columns=['diff'])
df=df(index=False)
df

NameError: name 'pd' is not defined

In [165]:
df.to_excel(r'Documents\diff2.xlsx')